@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<MudTextField AdornmentColor="Color.Secondary" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Outlined.Info" Label="Test KeyPress Event Here" @ref="LotIdTextField" OnKeyPress="btnView_Clicked" Clearable="true" @bind-Value="@LotId" Variant="Variant.Outlined" />

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    protected string? LotId { get; set; } = "";
    protected MudTextField<string?>? LotIdTextField;
    protected void btnView_Clicked(KeyboardEventArgs eventArgs)
    {
        Console.WriteLine("keydown event fired!");
        //lotinfoChild!.enter(LotIdTextField!, eventArgs);
    }
}